@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
 :root {
    --bg-color: #d4d4d4;
    --txt-color: #1e1e1e;
    --menu-hover-bg-color: #bbbbbb;
    --menu-hover-txt-color: #000000;
}
[data-theme="dark"] {
    --bg-color: #1e1e1e;
    --txt-color: #d4d4d4;
    --menu-hover-bg-color: #000000;
    --menu-hover-txt-color: #bbbbbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    font-family: 'Lexend Deca', sans-serif;
}
nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0);
}
nav ul {
    margin-right: 75px;
    margin-top: 65px
}
nav ul li {
    list-style: none;
    float: right;/*
    line-height: 50px;*/
}
nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: background-color .25s ease;
}
nav ul li a:hover {
    background-color: var(--menu-hover-bg-color);
    color: var(--menu-hover-txt-color);
}
#logo {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
#actualcontent {
    color: var(--txt-color);
    position: absolute;
    top: 65%;
    left: 10%;
    right: 10%;
    text-align: center;
}